body{
    margin: 0px;
}
.page1{
    width: 80%;
    margin-left: 10%;
    transition: all 0.5s;
}


.content{
    width: 100%;
    display: flex;
    height: 300px;;
    flex-wrap: wrap;
    justify-content:flex-end;  
    align-items: center;
    margin-top: 30px;
    transition: all 0.5s;
}
.box1{
    width: 33%;
    height: 397px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    background-color: #4f4b4c;
    position: absolute;
    margin-top: 30px;
    display: flex;
    transition: all 0.5s;
}
.box2, .box3{
    width: 297px;
    height: 306px;
    margin-left: 16px;    
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    background-color: #e6e7e9;
    border-radius: 15px;
    transition: all 0.5s;
}
.box4{
    width: 610px;
    height: 74px;
    margin-left: 16px;    
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    background-color: #e6e7e9;
    margin-bottom: -100px;
    transition: all 0.5s;
}
@media only screen and (max-width: 1350px){
    .box1{
        width: 50%;
        margin-left: 28%;
        display: flex;
        position: relative;
        justify-content:center;
        transition: all 0.5s;
    }
    .content{
        justify-content:center;
        transition: all 0.5s;
    }
}
@media only screen and (max-width: 1350px){
    .box2, .box3{
        margin-top: 16px;
    }
}


